@font-face {
  font-family: cocoHeavy;
  src: url(/fonts/Coco-Sharp-Heavy-trial.ttf); }

@font-face {
  font-family: cocoEBold;
  src: url(/fonts/Coco-Sharp-Extrabold-trial.ttf); }

@font-face {
  font-family: cocoBold;
  src: url(/fonts/Coco-Sharp-Bold-trial.ttf); }

@font-face {
  font-family: cocoRegular;
  src: url(/fonts/Coco-Sharp-Regular-trial.ttf); }

@font-face {
  font-family: basic;
  src: url(/fonts/Basic-Light.ttf); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%; }

h1 {
  font-family: cocoHeavy;
  font-size: 4rem; }
