* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Lato', sans-serif; }

h1 {
  font-size: 5rem; }

h2 {
  font-size: 4rem;
  font-weight: 900; }

h3 {
  font-size: 3rem;
  font-weight: 700; }

p, button {
  font-size: 2rem;
  font-weight: 400; }

.section1__img--edificio {
  width: 100%; }

.section2 {
  background-color: #000000;
  color: #ffffff;
  width: 100%; }
  .section2 .section2__img {
    max-width: 100%;
    padding: 10rem 0; }
  .section2 .section2__container {
    padding: 2rem 5rem; }
    .section2 .section2__container .section2__titulo {
      font-size: 6rem; }
    .section2 .section2__container .section2__p {
      font-size: 2.5rem; }
    .section2 .section2__container .section2__boton {
      background-color: #9B9B9B;
      color: #ffffff;
      border: none;
      padding: 1rem 2rem; }

.section3 {
  background-image: url(../img/fondo.webp);
  width: 100%;
  color: #ffffff;
  padding: 10rem 0; }
  .section3 h2 {
    font-size: 13rem;
    margin-bottom: 3rem;
    letter-spacing: .5rem; }
  .section3 .section3__numeros {
    font-size: 5rem; }
  .section3 .section3__titulos {
    font-size: 2.5rem; }
  .section3 .section3__img {
    width: 13rem;
    margin-top: 5rem; }
  .section3 .section__p {
    margin-top: 2rem;
    font-size: 2.2rem; }

.section4 {
  background-color: #000000;
  width: 100%; }
  .section4 .section4__img {
    padding: 10rem 10rem 5rem 0; }
  .section4 .section4__titulo {
    color: #ffffff;
    line-height: 70px;
    font-size: 5rem;
    letter-spacing: 3px; }
  .section4 .section4__h2 {
    color: #ffffff;
    letter-spacing: 1px; }
  .section4 .section4__imgp {
    max-width: 75px; }

.section6 {
  background-color: #000000;
  width: 100%; }
  .section6 .section6__titulo {
    color: #ffffff;
    font-size: 5rem;
    letter-spacing: 3px; }
  .section6 .section6__p {
    color: #ffffff;
    font-weight: 300; }
  .section6 .section6__img {
    padding: 10rem 10rem 5rem 0; }
  .section6 .section6__imgp {
    width: 6.5rem;
    margin-right: 2rem;
    height: 5rem; }

.section7 {
  background-image: url(../img/fondo.webp);
  width: 100%;
  color: #ffffff;
  padding: 10rem 0; }
  .section7 .section7__img {
    padding: 0 15rem 10rem 7rem; }
  .section7 .section7__imgp {
    width: 6.5rem;
    margin-right: 2rem;
    height: 5rem; }
  .section7 .section7__p {
    color: #ffffff;
    font-weight: 300; }
