* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif; }

:root {
  --colorFondo: #e1e1e1;
  --colorPrincipal: #018093;
  --colorTipo: #000000;
  --colorBlanco: #f5f5f5; }

h1 {
  font-size: 5rem; }

h2 {
  font-size: 3rem;
  letter-spacing: .3rem;
  font-weight: 700; }

h3 {
  font-size: 3rem;
  font-weight: 700; }

p,
button,
input, select {
  font-size: 2rem;
  font-weight: 400; }

.sombra {
  box-shadow: 0px 5px 15px 0px rgba(100, 100, 100, 0.51); }

.header {
  position: absolute;
  top: 0;
  width: 100%; }

.header, .footer {
  background-color: #ffffff7c;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 2rem; }
  .header .header__img_logo, .header .footer__img_logo, .footer .header__img_logo, .footer .footer__img_logo {
    max-width: 4.5rem;
    margin-left: 5rem; }
  .header .header_img_marca, .header .footer_img_marca, .footer .header_img_marca, .footer .footer_img_marca {
    margin-left: 5rem;
    max-width: 40rem; }

.section1__img--edificio {
  width: 100%; }

.section2 {
  background-color: var(--colorFondo);
  color: var(--colorTipo); }
  .section2 .section2__imgContainer {
    padding: 10rem; }
    .section2 .section2__imgContainer .section2__img {
      max-width: 100%;
      border-radius: .6rem; }
  .section2 .section2__container {
    padding: 2rem 5rem; }
    .section2 .section2__container .section2__titulo {
      font-size: 4rem; }
    .section2 .section2__container .section2__p {
      font-size: 2.5rem; }
    .section2 .section2__container .section2__boton {
      background-color: var(--colorPrincipal);
      color: #ffffff;
      border: none;
      padding: 1rem 2rem;
      transition: box-shadow .3s;
      border-radius: .6rem; }
      .section2 .section2__container .section2__boton:hover {
        box-shadow: 0px 5px 15px 0px rgba(109, 109, 109, 0.51); }

.section3 {
  background-color: var(--colorTipo);
  background-size: 100%;
  color: var(--colorFondo);
  padding: 5rem;
  display: flex;
  justify-content: space-evenly; }
  .section3 h2 {
    font-size: 13rem;
    margin-bottom: 3rem; }
  .section3 .section3__casas, .section3 .section3__barrios, .section3 .section3__departamentos, .section3 .section3__loteos {
    border: solid 2px var(--colorPrincipal);
    border-radius: .6rem;
    padding: 2rem;
    transition: box-shadow .3s; }
    .section3 .section3__casas:hover, .section3 .section3__barrios:hover, .section3 .section3__departamentos:hover, .section3 .section3__loteos:hover {
      box-shadow: 0px 5px 20px 0px var(--colorPrincipal); }
  .section3 .section3__numeros {
    font-size: 5rem; }
  .section3 .section3__titulos {
    font-size: 2.5rem; }
  .section3 .section3__img {
    width: 13rem;
    margin-top: 5rem; }
  .section3 .section__p {
    margin-top: 2rem;
    font-size: 2.2rem; }

.sectionPropiedades {
  padding: 3rem;
  background-color: var(--colorFondo); }
  .sectionPropiedades .sectionPropiedades__container {
    display: inherit;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--colorPrincipal);
    border-radius: .6rem;
    margin: .3rem;
    padding: 1rem; }
    .sectionPropiedades .sectionPropiedades__container .sectionPropiedades__titulo {
      font-size: 2.5rem; }
    .sectionPropiedades .sectionPropiedades__container .sectionPropiedades__img {
      width: 100%; }
    .sectionPropiedades .sectionPropiedades__container .sectionPropiedades__p {
      padding: 1rem;
      text-align: center; }
    .sectionPropiedades .sectionPropiedades__container .sectionPropiedades__button {
      width: 50%;
      background-color: var(--colorPrincipal);
      color: var(--colorBlanco);
      border: none;
      padding: 1rem 2rem;
      margin-bottom: 2rem;
      transition: box-shadow .3s;
      border-radius: .6rem; }
      .sectionPropiedades .sectionPropiedades__container .sectionPropiedades__button:hover {
        box-shadow: 0px 5px 15px 0px rgba(109, 109, 109, 0.51); }

.section4 {
  background-color: #000000;
  color: #ffffff; }
  .section4 .section4__img {
    padding: 10rem 10rem 5rem 0; }
  .section4 .section4__imgp {
    max-width: 75px; }

.section5 {
  background-image: url(../img/fondo.webp);
  background-size: 100%;
  color: #ffffff; }
  .section5 .section5__titulo {
    font-size: 13rem;
    text-align: center; }
  .section5 .section5__container {
    width: 40rem;
    margin: 4rem 2rem 4rem 0; }
    .section5 .section5__container .section5__subtitulo {
      background-color: #fffcfc98;
      font-size: 5rem;
      text-align: right;
      color: #008092;
      padding: 1rem; }

.section6 {
  background-color: #000000;
  color: #ffffff; }
  .section6 .section6__img {
    padding: 10rem 10rem 5rem 0; }
  .section6 .section6__titulo {
    margin-bottom: 5rem; }
  .section6 .section6__container {
    margin: 2rem 0;
    display: flex;
    align-items: center; }
    .section6 .section6__container .section6__imgp {
      max-width: 75px;
      margin-right: 1rem; }

.section7 {
  background-image: url(../img/fondo.webp);
  background-size: 100%;
  color: #ffffff; }
  .section7 .section7__map {
    width: 50rem; }
  .section7 .section7__ico {
    width: 8rem;
    margin: 1rem; }
  .section7 .section7__p {
    margin: 1rem 0;
    line-height: 2.2; }
  .section7 .section7__boton {
    background-color: #9B9B9B;
    color: #ffffff;
    border: none;
    padding: 1rem 2rem;
    margin: 1rem 0; }

.section8 {
  background-color: #000000;
  color: #ffffff;
  padding: 3rem; }
  .section8 .section8__form {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .section8 .section8__form .section8__subtitulo {
      background-color: #fffcfcb4;
      font-size: 5rem;
      color: #008394;
      padding: 1rem; }
    .section8 .section8__form .section8__form-container {
      margin: 1rem 0; }
      .section8 .section8__form .section8__form-container .section8__ico {
        width: 6rem;
        margin: 0 auto; }
      .section8 .section8__form .section8__form-container .section8__input {
        outline: none;
        border: 4px solid #008394;
        margin: 1rem 0;
        padding-left: 1rem; }
  .section8 .section8__boton {
    background-color: #9B9B9B;
    color: #ffffff;
    font-weight: 900;
    border: none;
    padding: 1rem 2rem;
    margin: 3rem 0 2rem 0;
    width: 33%; }
  .section8 .section8__select {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .section8 .section8__select .select__select {
      text-align: center;
      padding: 1rem;
      margin: 1rem 0;
      border: 4px solid #008394;
      outline: none;
      box-shadow: 0px 5px 15px 0px rgba(74, 74, 74, 0.51); }
      .section8 .section8__select .select__select option {
        font-size: 2rem; }

@media (max-width: 480px) {
  .section2 .section2__img {
    padding: 2rem; }
  .section2 .section2__container {
    padding: 1rem; }
    .section2 .section2__container .section2__titulo {
      font-size: 3rem;
      margin-left: 1rem; }
    .section2 .section2__container .section2__p {
      font-size: 2rem;
      padding: 1rem; }
    .section2 .section2__container .section2__boton {
      width: 50%;
      margin-left: 1rem;
      margin-bottom: 1rem; }
  .section3 {
    padding: 3rem; }
    .section3 h2 {
      font-size: 5rem; }
    .section3 .section3__casas, .section3 .section3__barrios, .section3 .section3__departamentos, .section3 .section3__loteos {
      border-radius: 20%;
      background-color: #ffffff1a;
      border: solid 2px #00798e;
      padding: 1rem;
      margin-bottom: 2rem;
      box-shadow: 0px 5px 15px 0px rgba(74, 74, 74, 0.609); }
      .section3 .section3__casas .section3__numeros, .section3 .section3__barrios .section3__numeros, .section3 .section3__departamentos .section3__numeros, .section3 .section3__loteos .section3__numeros {
        font-size: 3.5rem; }
      .section3 .section3__casas .section3__img, .section3 .section3__casas .section3__p, .section3 .section3__barrios .section3__img, .section3 .section3__barrios .section3__p, .section3 .section3__departamentos .section3__img, .section3 .section3__departamentos .section3__p, .section3 .section3__loteos .section3__img, .section3 .section3__loteos .section3__p {
        margin-top: 1rem; }
    .section3 .section3__barrios .section3__numeros {
      font-size: 3.5rem; }
    .section3 .section3__barrios .section3__img, .section3 .section3__barrios .section3__p {
      margin-top: 1rem; }
    .section3 .section3__loteos .section3__numeros {
      font-size: 3.5rem; }
    .section3 .section3__loteos .section3__img, .section3 .section3__loteos .section3__p {
      margin-top: 1rem;
      letter-spacing: 0.2px; }
    .section3 .section3__departamentos .section3__numeros {
      font-size: 3.5rem; }
    .section3 .section3__departamentos .section3__img, .section3 .section3__departamentos .section3__p {
      margin-top: 1rem; }
  .section4 {
    padding: 2rem; }
    .section4 .section4__img {
      padding: 1rem; }
    .section4 .section4__titulo {
      font-size: 3.5rem;
      text-align: center; }
    .section4 .section4__container {
      display: flex;
      justify-content: center; }
      .section4 .section4__container .section4__h2 {
        font-size: 2rem;
        text-align: center; }
      .section4 .section4__container .section4__imgp {
        max-width: 7rem; }
  .section5 {
    padding-bottom: 1rem; }
    .section5 .section5__titulo {
      font-size: 5rem;
      padding-top: 2rem; }
    .section5 .section5__container {
      padding: 1rem 2rem;
      width: 40rem;
      margin: 0; }
  .section6 .section6__img {
    padding: 2rem; }
  .section6 .section6__titulo {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem; }
  .section6 .section6__container {
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    margin: 0; }
    .section6 .section6__container .section6__p {
      text-align: center;
      margin-top: 1rem; }
  .section7 .section7__map {
    width: 30rem;
    margin-bottom: 2rem; }
  .section7 .section7__container {
    padding: 2rem;
    display: flex;
    justify-content: center;
    border-radius: 20%;
    background-color: #ffffff1a;
    border: solid 2px #00798e;
    margin: 0 2rem 2rem 2rem;
    box-shadow: 0px 5px 15px 0px rgba(74, 74, 74, 0.609); }
    .section7 .section7__container .section7__p {
      text-align: center; }
    .section7 .section7__container .section7__boton {
      width: 50%; }
  .section8 .section8__titulo {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem; }
  .section8 .section8__titulo2 {
    font-size: 2.5rem; }
  .section8 .section8__form-container {
    display: flex;
    justify-content: center; }
    .section8 .section8__form-container .section8__ico {
      margin-bottom: 1rem; }
  .section8 .section8__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 3rem;
    margin-bottom: 1rem; }
    .section8 .section8__container .section8__subtitulo {
      width: 100%; }
  .section8 .section8__boton {
    width: 85%; } }
