@font-face {
    font-family:cocoHeavy ;
    src: url(/fonts/Coco-Sharp-Heavy-trial.ttf);
}

@font-face {
    font-family:cocoEBold ;
    src: url(/fonts/Coco-Sharp-Extrabold-trial.ttf);
}

@font-face {
    font-family:cocoRegular ;
    src: url(/fonts/Coco-Sharp-Regular-trial.ttf);
}
@font-face {
    font-family: basic;
    src: url(/fonts/Basic-Light.ttf);
}