.header{
    width: 100%;
    display: flex;
    flex-basis: 100%;
    justify-content: space-evenly;
    font-size: 2rem;
    font-weight: bold;
        .header__container{
            padding: 1rem;
        }
}

.header__imagenConde{
    width: 4rem;
    border: none;
    border-radius: .6rem;
}
.lista {
    list-style: none;
}
.sps--abv{
    background-color: transparent;
    color:#000
}
.sps--blw{
    background-color: #000;
}
.header-navegacion {
    display: flex;
    flex-basis: 100%;
    justify-content: space-evenly;
    font-weight: bold;
}
.nav-link{
    font-size: 1.8rem;
    transition: all .4s;
    margin-right: 5rem;
    &:hover {
        background-color:#85929e65;
        border-radius: 4px;
    }
}
span.navbar-toggler-icon{
   background-image: url(../img/hamburguer.png);
   border-radius: 0.6rem;
   width: 2.5rem;
   height: 2.5rem;
}
.navbar-toggler{
    border:none;
    color: $colorPrincipal
}
.header__img--edificio {
    width: 100%;
    overflow: hidden;
    filter: brightness(50%);
}
.footer{
    background-color: #ffffff7c;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
        .footer__img_logo{
        max-width: 4.5rem;
        margin-left: 5rem;
        transition: transform .5s;
            &:hover{
                transform: scale(1.15);
            }
        }
        .footer_img_marca{
         margin-left: 5rem;
         max-width: 40rem;
                
        }
        
}