@media(max-width: 1560px) {
    .section2 {
        .section2__container {
            padding: 2rem;
            .section2__titulo {
                font-size: 3.8rem;
            }

            .section2__p {
                font-size: 2.3rem;
            }
        }

        .section2__imgContainer {
            padding: 2rem;
        }
    }
    .section3{
        .section3__numeros {
            font-size: 3.5rem;
        }
    
        .section3__titulos {
            font-size: 2rem;
        }
    
        .section3__img {
            width: 12rem;
            margin-top: 5rem;
        }
    
        .section__p {
            margin-top: 2rem;
            font-size: 1.65rem;
        }
    }
    .section6 {
        .section6__img {
            padding: 5rem;
            border-radius:5.6rem;
        }
        .section6__titulo{
            margin: 1rem 0;
            font-size: 4.5rem;
        }
    }

}
@media(max-width: 1220px) {
    .section2 {
        .section2__container {
            padding: 2rem;

            .section2__titulo {
                font-size: 3rem;
            }

            .section2__p {
                font-size: 2rem;
            }
        }

        .section2__imgContainer {
            padding: 2rem;
        }
    }
    .section6 {
        padding: 2rem;
        .section6__img {
            padding: 2rem;
            border-radius:2.6rem;
        }
        .section6__titulo{
            padding: 2rem 0 1rem 0 ;
            margin:0;
            font-size: 3.5rem;
        }
        .section6__p{
            font-size: 1.8rem;
        }
        .section6__imgp{
            width: 6.5rem;
        }
    }
    
}
@media(min-width:767px) and (max-width:1200px){
    .sectionProp{
        margin-bottom: 3rem;
    }
    .footer {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;

        .footer__logo {
            display: flex;
            justify-content: center;

            .footer_img_marca {
                width: 30rem;
                margin-left: 0;
            }
        }

        .footer__sectionRedes {
            display: flex;
            justify-content: space-evenly;

            .footer__img_logo {
                margin-left: 0;
                margin-top: 2rem;
                width: 3.5rem;
            }
        }
    }

}

@media(max-width: 950px) {
    .sps--abv {
        background-color: var(--colorTipo);
        color: var(--colorTipo)
    }

    .sps--blw {
        background-color: var(--colorTipo);
        box-shadow: 0px 5px 15px 0px rgba(74, 74, 74, 0.51);
    }

    .banner {
        width: 100%;
        height: 40rem;
    }

    .bannerContainer {
        height: 60rem;
        z-index: 10;
        position: absolute;
        top: 15rem;
        left: 0;
        right: 0;
        bottom: 0;

        .banner__img {
            width: 15rem;
        }
    }

    .section2 {
        .section2__container {
            .section2__titulo {
                font-size: 5rem;
            }

            .section2__p {
                font-size: 2rem;
            }
        }

        .section2__imgContainer {
            padding: 2rem;
        }
    }
    .section6 {
        .section6__img {
            padding: 1rem;
            border-radius:1.6rem;
        }
        .section6__titulo{
            margin: 1rem 0;
            padding: 1rem;
            font-size: 3.2rem;
        }
    }

}

@media (max-width: 767px) {
    .section2 {
        .section2__imgContainer {
            padding: 2rem;
        }

        .section2__container {
            text-align: center;
            padding: 1rem;

            .section2__titulo {
                font-size: 3rem;
                margin-left: 1rem;
            }

            .section2__p {
                font-size: 2rem;
                padding: 1rem;
            }

            .section2__boton {
                width: 50%;
                margin-left: 1rem;
                margin-bottom: 1rem;
            }
        }

    }

    .section3 {
        padding: 3rem;

        h2 {
            font-size: 5rem;
        }

        .section3__casas,
        .section3__barrios,
        .section3__departamentos,
        .section3__loteos {
            background-color: #ffffff1a;
            border: solid 2px #00798e;
            padding: 1rem;
            margin-bottom: 2rem;
            box-shadow: 0px 5px 15px 0px rgba(74, 74, 74, 0.609);

            .section3__numeros {
                font-size: 3.5rem;
            }

            .section3__img,
            .section3__p {
                margin-top: 1rem;
            }
        }

        .section3__barrios {
            .section3__numeros {
                font-size: 3.5rem;
            }

            .section3__img,
            .section3__p {
                margin-top: 1rem;
            }
        }

        .section3__loteos {
            .section3__numeros {
                font-size: 3.5rem;
            }

            .section3__img,
            .section3__p {
                margin-top: 1rem;
                letter-spacing: 0.2px;
            }
        }

        .section3__departamentos {
            .section3__numeros {
                font-size: 3.5rem;
            }

            .section3__img,
            .section3__p {
                margin-top: 1rem;
            }
        }

    }

    .sectionPropiedades {
        .sectionPropiedades__titulo {
            font-size: 4rem;
        }

        .button__final {
            width: 100%;
        }
    }

    .section4 {
        padding: 2rem;

        .section4__img {
            padding: 1rem;
        }

        .section4__titulo {
            font-size: 3.5rem;
            text-align: center;
        }

        .section4__container {
            display: flex;
            justify-content: center;

            .section4__h2 {
                font-size: 2rem;
                text-align: center;
            }

            .section4__imgp {
                max-width: 7rem;
            }
        }
    }

    .section5 {
        padding-bottom: 1rem;
        padding: 3rem;

        .section5__titulo {
            font-size: 5rem;
            padding-top: 2rem;
            margin-bottom: 2rem;
        }

        .section5__container {
            padding: 0;
            width: 40rem;
            margin: 0 0 1rem 0;
            border-radius: 6px;

            .section5__img {
                background-color: rgba(0, 0, 0, 0.042)
            }

            .section5__subtitulo.card-text {
                border-radius: 6px;
            }
        }
    }

    .section6 {
        .section6__img {
            padding: 2rem;
            border-radius: 2.6rem;
        }

        .section6__titulo {
            font-size: 3rem;
            text-align: center;
        }

        .section6__container {
            justify-content: center;
            align-items: center;
            padding: 1.5rem;
            margin: 0;

            .section6__p {
                text-align: center;
                margin-top: 1rem;
            }
        }
    }

    .section7 {
        .section7__titulo {
            font-size: 4rem;
        }

        .section7__div {

            .section7__container {
                padding: 1.5rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 0 0 2rem 0;
                box-shadow: 0px 5px 15px 0px rgba(74, 74, 74, 0.609);

                .section7__p {
                    text-align: center;
                }

                .section7__boton {
                    width: 100%;
                }
            }

        }
    }

    .section8 {
        .section8__titulo {
            font-size: 2rem;
            text-align: center;
            margin-bottom: 2rem;
        }

        .section8__form {
            .form__container {
                width: 100%;

                .section8__boton {
                    width: 100%;
                }
            }

        }


    }

    .footer {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;

        .footer__logo {
            display: flex;
            justify-content: center;

            .footer_img_marca {
                width: 30rem;
                margin-left: 0;
            }
        }

        .footer__sectionRedes {
            display: flex;
            justify-content: space-around;

            .footer__img_logo {
                margin-left: 0;
                margin-top: 2rem;
                width: 3.5rem;
            }
        }




    }

}






