main{
    background-color: $colorFondo
}
.section1__titulo{
    color:$colorBlanco
}
.sectionPropiedades {
    width: 90%;
    margin: 2rem auto;
    padding: 4rem;
    border-radius: 1rem;

    .sectionPropiedades__container {
        width: 34rem;
        margin-top: 2rem;

        .contenedor__imagenes {
            .sectionPropiedades__prop {
                object-fit: cover;
                width: 100%;
                height: 30rem;
                border-radius: 0.3rem;
            }

        }
    }
}
