.header__imagen{
    width: 17rem;
}
.propiedades__main{
    background-color: var(--colorFondo);

    .section1{
        position: absolute;
        .section1__titulo{
            font-family: 'Montserrat', sans-serif;
            color: var(--colorBlanco);
        }    
    }
    .sectionPropiedades{
    width: 90%;
    margin: 2rem auto 2rem auto;
    padding: 4rem;
    border-radius: 1rem;
    .sectionPropiedades__container{
        width: 34rem;
        margin-top: 2rem;
        .contenedor__imagenes{
            .sectionPropiedades__prop{
                object-fit: cover;
                width: 100%;
                height: 30rem;
                border-radius: 0.3rem;
            }
            
        }
    }
    }
}