.section1{
    .banner {
        width: 100%;
        overflow: hidden;
        filter: brightness(50%);
        height: 100vh;
        width: 100%;
    }
    
    .bannerContainer {
        position: absolute;
        top: 50%;
    
        .banner__img {
            width: 50rem;
        }
    }
}
.section2 {
    @extend %sectionGris;

    .section2__imgContainer {
        padding: 10rem;

        .section2__img {
            max-width: 100%;
            border-radius: .6rem;
        }
    }
    .section2__container {
        padding: 2rem 5rem;

        .section2__titulo {
            font-size: 7rem;
        }
        .section2__p {
            font-size: 2.5rem;
        }
        .section2__boton {
            @extend %boton;

            &:hover {
                box-shadow: $sombraGris
            }
        }
    }
}
.section3 {
    @extend %sectionNegra;
    padding: 5rem;
    display: flex;
    justify-content: space-evenly;

    h2 {
        font-size: 13rem;
        margin-bottom: 3rem;
    }
    .section3__container {
        @extend %card;
        padding: 2rem;
        &:hover {
            box-shadow: $sombraNeon
        }
    }
    .section3__numeros {
        font-size: 5rem;
    }

    .section3__titulos {
        font-size: 2.5rem;
    }

    .section3__img {
        width: 13rem;
        margin-top: 5rem;
    }

    .section__p {
        margin-top: 2rem;
        font-size: 2.2rem;
    }

}

.sectionPropiedades {
    @extend %sectionGris;
    padding: 3rem;
    display: flex;
    justify-content: space-evenly;

    .sectionPropiedades__titulo {
        text-align: center;
        font-size: 7rem;
        margin-bottom: 2rem;
    }
    .sectionPropiedades__container {
        @extend %card;
        width: 34rem;
        padding: 1rem;
        margin: .5rem;
        &:hover {
            box-shadow: $sombraGris
        }
        .sectionPropiedades__titulo {
            font-size: 2.5rem;
        }

        .sectionPropiedades__img {
            width: 100%;
        }

        .sectionPropiedades__p {
            padding: 1rem;
            text-align: center;
        }

        .sectionPropiedades__button {
            @extend %boton;
            width: 100%;

            &:hover {
                background-color: #008ba1;
            }
        }
    }

    .button__final {
        @extend %boton;
        width: 30%;
        margin-top: 2rem;

        &:hover {
            box-shadow: $sombraGris
        }
    }
}

.section4 {
    @extend %sectionNegra;
    padding: 3rem;

    .section4__titulo {
        text-align: center;
        font-size: 7rem;
    }

    .container {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        justify-content: center;

        .section4__container {
            @extend %card;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            padding: 2rem 6rem;
            transition: box-shadow .6s;
            &:hover {
                box-shadow: $sombraNeon
            }
            .section4__imgp {
                max-width: 7.5rem;
            }

            .section4__h2 {
                text-align: center;
                font-size: 2.3rem;
            }
        }
    }
}

.section5 {
    @extend %sectionGris;
    .section5__titulo {
        font-size: 7rem;
        text-align: center;
        padding-top: 2rem;
    }

    .section5__container {
        width: 40rem;
        margin: 4rem 2rem 4rem 0;
        background-color: #fffcfc98;
        transition: box-shadow .6s;
        cursor: pointer;

        &:hover {
            box-shadow: $sombraGris
        }

        .section5__subtitulo {
            background-color: #fffcfc98;
            font-size: 5rem;
            text-align: right;
            color: #008092;

        }

        .section5__img {
            padding: 1.5rem;
        }
    }

}

.section6 {
    background-color: #000000;
    color: #ffffff;

    .section6__img {
        padding: 10rem;
        border-radius: 10.6rem;
    }

    .section6__titulo {
        font-size: 5.5rem;
        margin-bottom: 5rem;
    }

    .section6__container {
        margin: 2rem 0;
        display: flex;
        align-items: center;

        .section6__imgp {
            max-width: 75px;
            margin-right: 1rem;
        }

        .section6__texto {
            transition: color .3s;

            &:hover {
                color: #00a2bb;
            }
        }

    }
}

.section7 {
    @extend %sectionGris;

    .section7__titulo {
        font-size: 7rem;
        text-align: center;
        padding-top: 2rem;
        color: $colorTipo;
        margin-bottom: 3rem;
    }

    .section7__div {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        justify-content: center;

        .section7__container {
            @extend %card;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            margin: .8rem 7rem;
            padding: 1rem 2rem;

            &:hover {
                box-shadow: $sombraGris;
            }

            .section7__boton {
                @extend %boton;
                margin-bottom: 0;
                background-color: #919191;
                color: $colorBlanco;
                &:hover {
                    background-color: $colorPrincipal
                }
            }
        }
        .section7__container:last-child {
            border: none;

            &:hover {
                box-shadow: none;
            }
        }
        .section7__ico {
            width: 7rem;
        }
        .section7__p {
            margin: 1rem 2rem;
            line-height: 2.2;
            color: $colorTipo;

        }
        .section7__boton {
            @extend %boton;
            background-color: #919191;
            color: $colorBlanco
        }
    }

}
.section8 {
    background-size: cover;
    width: 100%;
    background-image: url(../img/contactanos.webp);
    background-repeat: no-repeat;
    color: $colorBlanco;
    padding: 3rem;
    .section8__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        .section8__titulo {
            font-size: 5rem;
            color: #3e3e3e;
            margin-bottom: 2rem;
        }
        .form__container {
            width: 40%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: rgba(1, 127, 147, 0.623);
            box-shadow: $sombraGris;
            backdrop-filter: blur(4px);
            padding: 3rem;
            border-radius: .6rem;
            .section8__input {
                outline: none;
                border: none;
                margin: 1rem 0;
                padding: 1.5rem 1rem;
                border-radius: .6rem;
                transition: box-shadow .3s;
                &:focus {
                    box-shadow: $sombraGris ;
                }
            }
            .select__select {
                width: 100%;
                padding: 1.5rem 1rem;
                margin: 1rem 0;
                outline: none;
                box-shadow: 0px 5px 15px 0px rgba(74, 74, 74, 0.51);
                option {
                    font-size: 2rem;
                }
            }
            .section8__boton {
                @extend %boton;
                background-color: #9b9b9bd2;
                color: var(--colorBlanco);
                margin: 3rem 0 2rem 0;
                &:hover {
                    box-shadow: $sombraGris
                }
            }
        }
    }

}
.emailBody {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: $colorFondo;

    .container {
        display: inherit;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border: solid 2px $colorPrincipal;
        max-width: 600px;
        height: 400px;
        padding: 2rem;
        border-radius: .6rem;
        box-shadow: 8px 16px 29px -9px rgba(109, 109, 109, 0.51);

        .success {
            width: 10rem;
        }

        .section7__boton {
            @extend %boton;
            background-color: #919191;
            color: $colorBlanco;
            border-radius: .6rem;

            &:hover {
                background-color: $colorPrincipal
            }
        }
    }

}