.section2 {
    background-color: var(--colorFondo);
    color: var(--colorTipo);

    .section2__imgContainer {
        padding: 10rem;

        .section2__img {
            max-width: 100%;
            border-radius: .6rem;

        }
    }

    .section2__container {
        padding: 2rem 5rem;

        .section2__titulo {
            font-size: 7rem;
            ;
        }

        .section2__p {
            font-size: 2.5rem;
        }

        .section2__boton {
            background-color: var(--colorPrincipal);
            color: #ffffff;
            border: none;
            padding: 1rem 2rem;
            transition: box-shadow .3s;
            border-radius: .6rem;

            &:hover {
                box-shadow: 0px 5px 15px 0px rgba(109, 109, 109, 0.51);
            }
        }
    }


}

.section3 {
    background-color: var(--colorTipo);
    color: var(--colorFondo);
    padding: 5rem;
    display: flex;
    justify-content: space-evenly;

    h2 {
        font-size: 13rem;
        margin-bottom: 3rem;

    }

    .section3__container {
        border: solid 2px var(--colorPrincipal);
        border-radius: .6rem;
        padding: 2rem;
        transition: box-shadow .3s;

        &:hover {
            box-shadow: 0px 5px 20px 0px var(--colorPrincipal)
        }



    }

    .section3__numeros {
        font-size: 5rem;
    }

    .section3__titulos {
        font-size: 2.5rem;
    }

    .section3__img {
        width: 13rem;
        margin-top: 5rem;
    }

    .section__p {
        margin-top: 2rem;
        font-size: 2.2rem;
    }

}

.sectionPropiedades {
    padding: 3rem;
    background-color: var(--colorFondo);
    display: flex;
    justify-content: space-evenly;

    .sectionPropiedades__titulo {
        text-align: center;
        font-size: 7rem;
        margin-bottom: 2rem;
    }

    .sectionPropiedades__container {
        border: 2px solid var(--colorPrincipal);
        border-radius: .6rem;
        padding: 1rem;
        margin: .5rem;
        transition: box-shadow 0.6s;

        &:hover {
            box-shadow: 0px 5px 15px 0px rgba(109, 109, 109, 0.51);
        }

        .sectionPropiedades__titulo {
            font-size: 2.5rem;
        }

        .sectionPropiedades__img {
            width: 100%;
        }

        .sectionPropiedades__p {
            padding: 1rem;
            text-align: center;
        }

        .sectionPropiedades__button {
            width: 100%;
            background-color: var(--colorPrincipal);
            color: var(--colorBlanco);
            border: none;
            padding: 1rem 2rem;
            margin-bottom: 2rem;
            transition: background-color .3s;
            border-radius: .6rem;

            &:hover {
                background-color: #008ba1;
            }
        }


    }

    .button__final {
        width: 30%;
        background-color: var(--colorPrincipal);
        color: var(--colorBlanco);
        border: none;
        padding: 1rem 2rem;
        margin: 2rem;
        transition: box-shadow .3s;
        border-radius: .6rem;

        &:hover {
            box-shadow: 0px 5px 15px 0px rgba(109, 109, 109, 0.51);
        }

    }

}

.section4 {
    background-color: #000000;
    color: #ffffff;
    padding: 3rem;

    .section4__titulo {
        text-align: center;
        font-size: 7rem;

    }

    .container {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        justify-content: center;

        .section4__container {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            padding: 2rem 6rem;
            border: 2px solid var(--colorPrincipal);
            border-radius: .6rem;
            transition: box-shadow .6s;

            &:hover {
                box-shadow: 0px 5px 20px 0px var(--colorPrincipal)
            }

            .section4__imgp {

                max-width: 7.5rem;
            }

            .section4__h2 {
                text-align: center;
                font-size: 2.3rem;

            }

        }

    }


}


.section5 {
    background-color: var(--colorFondo);

    .section5__titulo {
        font-size: 7rem;
        text-align: center;
        padding-top: 2rem;
    }

    .section5__container {
        width: 40rem;
        margin: 4rem 2rem 4rem 0;
        background-color: #fffcfc98;
        transition: box-shadow .6s;
        cursor: pointer;
        &:hover {
            box-shadow: 0px 5px 15px 0px rgba(109, 109, 109, 0.51);
            
        }

        .section5__subtitulo {
            background-color: #fffcfc98;
            font-size: 5rem;
            text-align: right;
            color: #008092;

        }

        .section5__img {
            padding: 1.5rem;
        }
    }

}

.section6 {
    background-color: #000000;
    color: #ffffff;

    .section6__img {
        padding: 10rem;
        border-radius: 10.6rem;
       
    }

    .section6__titulo {
        font-size: 5.5rem;
        margin-bottom: 5rem;
    }

    .section6__container {
        margin: 2rem 0;
        display: flex;
        align-items: center;

        .section6__imgp {
            max-width: 75px;
            margin-right: 1rem;
        }

    }



}

.section7 {
    background-color: var(--colorFondo);
    color: #ffffff;

    .section7__titulo {
        font-size: 7rem;
        text-align: center;
        padding-top: 2rem;
        color: var(--colorTipo);
        margin-bottom: 3rem;
    }

    .section7__div {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        justify-content: center;
        

        .section7__container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            border: solid 2px var(--colorPrincipal);
            border-radius: .6rem;
            margin: .8rem 7rem;
            padding: 1rem 2rem;
            transition: box-shadow .3s;

            &:hover {
                box-shadow: 0px 5px 15px 0px rgba(109, 109, 109, 0.51);
            }

            .section7__boton {
                background-color: var(--colorPrincipal);
                color: #ffffff;
                border: none;
                padding: 1rem 2rem;
                transition: box-shadow .3s;
                border-radius: .6rem;

                &:hover {
                    box-shadow: 0px 5px 15px 0px rgba(109, 109, 109, 0.51);
                }
            }
        }

        .section7__container:last-child {
            border: none;

            &:hover {
                box-shadow: none;
            }
        }

        .section7__ico {
            width: 6rem;
            margin: 1rem
        }

        .section7__p {
            margin: 1rem 2rem;
            line-height: 2.2;
            color: var(--colorTipo);

        }

        .section7__boton {
            background-color: #9B9B9B;
            color: #ffffff;
            border: none;
            padding: 1rem 2rem;
            margin: 1rem 0;
        }

    }

}

.section8 {
    background-size: cover;
    width: 100%;
    // background-position-x: right;
    background-image: url(/img/contactanos.webp);
    background-repeat: no-repeat;
    // filter: brightness(40%);
    
    // background-color: #000000;
    color: #ffffff;
    padding: 3rem;
    .section8__form{
        display: flex;
        flex-direction: column;
        align-items: center;
        .section8__titulo {
            font-size: 5rem;
            color:#3e3e3e;
            margin-bottom: 2rem;
        }
      
        .form__container {
            width: 40%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: rgba(1, 127, 147, 0.623);
            box-shadow: 0 8px 32px 0 rgba(109, 109, 109, 0.51);
            backdrop-filter: blur( 4px );
            padding: 3rem;
            border-radius: .6rem;
    
            .section8__input {
                outline: none;
                border: none;
                margin: 1rem 0;
                padding: 1.5rem 1rem;
                border-radius: .6rem;
                transition: box-shadow .3s;
                &:focus{
                  box-shadow: 0px 5px 15px 0px rgba(60, 60, 60, 0.51) ;
                }
            }
            
    
            .select__select {
                width: 100%;
                padding: 1.5rem 1rem;
                margin: 1rem 0;
                outline: none;
                box-shadow: 0px 5px 15px 0px rgba(74, 74, 74, 0.51);
    
                option {
                    font-size: 2rem;
                }
    
            }
            .section8__boton {
                background-color: #9b9b9bd2;
                color: var(--colorBlanco);
                font-weight: 900;
                border: none;
                padding: 1rem 2rem;
                margin: 3rem 0 2rem 0;
                width: 33%;
                transition: box-shadow .3s;
                border-radius: 6px;
                &:hover {
                    box-shadow: 0px 5px 20px 0px rgba(109, 109, 109, 0.51)
                }
            }
        }
    }
    
}
.banner{

    height: 100vh;
    width: 100%;
}
.bannerContainer{
    position: absolute;
    top: 50%;
    .baner__img{
        width: 100%;
    }
}