
%boton{
    padding: 1rem 2rem;
    background-color: $colorPrincipal;
    color: #fff;
    border: none;
    margin-bottom: 2rem;
    cursor: pointer;
    transition: all .3s;
    border-radius: .6rem
}
%sectionGris{
    background-color: $colorFondo;
    color: $colorTipo;
}
%sectionNegra{
    background-color: $colorTipo;
    color:$colorBlanco
}
%card{
    border: 2px solid $colorPrincipal;
    border-radius: .6rem;
    transition: box-shadow .3s;
}