@import 'mixincheck';
@import 'globales';

.section1__img--edificio {
    width: 100%;
}

.section2 {
    background-color: #000000;
    color: #ffffff;



    .section2__img {
        max-width: 100%;
        padding: 10rem 0;
    }

    .section2__container {
        padding: 2rem 5rem;

        .section2__titulo {
            font-size: 6rem;
        }

        .section2__p {
            font-size: 2.5rem;
        }

        .section2__boton {
            background-color: #9B9B9B;
            color: #ffffff;
            border: none;
            padding: 1rem 2rem;
        }
    }


}

.section3 {
    background-image: url(../img/fondo.webp);
    background-size: 100%;
    color: #ffffff;
    padding: 10rem 0;

    h2 {
        font-size: 13rem;
        margin-bottom: 3rem;

    }

    .section3__numeros {
        font-size: 5rem;
    }

    .section3__titulos {
        font-size: 2.5rem;
    }

    .section3__img {
        width: 13rem;
        margin-top: 5rem;
    }

    .section__p {
        margin-top: 2rem;
        font-size: 2.2rem;
    }

}

.section4 {
    background-color: #000000;

    .section4__img {
        padding: 10rem 10rem 5rem 0
    }

    .section4__titulo {
        color: #ffffff
    }

    .section4__h2 {
        color: #ffffff
    }

    .section4__imgp {
        max-width: 75px;
    }
}

.section5 {
    background-image: url(../img/fondo.webp);
    background-size: 100%;

    color: #ffffff;

    .section5__titulo {
        font-size: 13rem;
        text-align: center;
    }

    .section5__container {
        width: 40rem;
        margin: 4rem 2rem 4rem 0;

        .section5__subtitulo {
            background-color: #fffcfc98;
            font-size: 5rem;
            text-align: right;
            color: #008092;
            padding: 1rem;

        }
    }

}

.section6 {
    background-color: #000000;

    .section6__titulo {
        color: #ffffff
    }

    .section6__p {
        color: #ffffff
    }

    .section6__img {
        padding: 10rem 10rem 5rem 0
    }
}

.section7 {
    background-image: url(../img/fondo.webp);
    background-size: 100%;
    color: #ffffff;

    .section7__map {
        width: 50rem;
    }

    .section7__ico {
        width: 8rem;
        margin: 1rem
    }

    .section7__p {
        margin: 1rem 0;
        line-height: 2.2;

    }

    .section7__boton {
        background-color: #9B9B9B;
        color: #ffffff;
        border: none;
        padding: 1rem 2rem;
        margin: 1rem 0;
    }
}

.section8 {
    background-color: #000000;
    color: #ffffff;
    padding: 1rem;

    .section8__subtitulo {
        background-color: #fffcfcb4;
        font-size: 5rem;
        text-align: right;
        color: #008394;
        padding: 1rem;

    }

    .section8__input {
        outline: none;
        border: none;
        margin: 1rem 0;

        &:focus {
            padding-left: 1rem;
        }
    }

    .section8__boton {
        background-color: #9B9B9B;
        color: #ffffff;
        border: none;
        padding: 1rem 2rem;
        margin: 3rem 0 2rem 0;
        width: 33%;
    }

    .section8__label {
        margin: 1rem 0;
        .css-checkbox {
            @include css-checkbox(25px, $selectedColor: #008394);
        }
    }

}