@import './fuentes';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

h1,h2,h4{
    font-family: cocoEBold;  
}
h3{
    font-family: cocoBold;
}
p,button{
    font-family: cocoRegular;
}
h1{
    font-size: 5rem;
}
h2{
    font-size: 4rem;
}
p,button{
    font-size: 2rem;
}


.section1__img--edificio{
  max-width: 100%;
}
  .section2{
      background-color: #000000;
      width: 100%;
          .section2__img{
              padding: 10rem 10rem 5rem 0; 
          }
          .section2__p, .section2__titulo{
              color: #ffffff;   
          }
          .section2__boton{
            background-color: #9B9B9B;
            color:#ffffff;
            border: none;
            padding: 1rem 2rem;    
        }

}
.section3{
    background-image: url(../img/fondo2.webp);
    width:100%; 
}

  